@using System.Threading.Tasks
@model IEnumerable<Homework3.TodoItem>
@{
    ViewBag.Title = "Active todo items";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<body>
    <br />
    <a asp-action="Add">
        <p1 style="font-size: 20px; color:blue">
            Add a new item!
        </p1>
    </a>
    &emsp;
    <a asp-action="SeeCompleted">
        <p1 style="font-size: 20px; color:blue">
            Completed items!
        </p1>
    </a>
    <br /><br /><br />
    @foreach (var todoItem in Model)
    {
        <p1 style="font-size: 21px"><b>@todoItem.Text</b></p1>
        <br />
        <p1 style="font-size: 17px">@todoItem.DateCreated</p1>
        <br />
        <p1 style="font-size: 19px">
            <a asp-controller="Todo" asp-action="MarkAsCompleted" asp-route-id="@todoItem.Id">
                Mark as completed
            </a>
        </p1>
        <br />
    }
</body>
</html>